<a href="https://colab.research.google.com/github/ttb-git/berkeley-engr-assignment1/blob/main/prompt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Will a Customer Accept the Coupon?

**Overview**

The goal of this project is to use what you know about visualizations and probability distributions to distinguish between customers who accepted a driving coupon versus those that did not.

**Data**


This data comes to us from the UCI Machine Learning repository and was collected via a survey on Amazon Mechanical Turk. The survey describes different driving scenarios including the destination, current time, weather, passenger, etc., and then ask the person whether he will accept the coupon if he is the driver. Answers that the user will drive there ‘right away’ or ‘later before the coupon expires’ are labeled as ‘Y = 1’ and answers ‘no, I do not want the coupon’ are labeled as ‘Y = 0’.  There are five different types of coupons -- less expensive restaurants (under \\$20), coffee houses, carry out & take away, bar, and more expensive restaurants (\\$20 - \\$50).

**Deliverables**

Your final product should be a brief report that highlights the differences between customers who did and did not accept the coupons.  To explore the data you will utilize your knowledge of plotting, statistical summaries, and visualization using Python. You will publish your findings in a public facing github repository as your first portfolio piece.

### Data Description

The attributes of this data set include:
1. User attributes
    -  Gender: male, female
    -  Age: below 21, 21 to 25, 26 to 30, etc.
    -  Marital Status: single, married partner, unmarried partner, or widowed
    -  Number of children: 0, 1, or more than 1
    -  Education: high school, bachelors degree, associates degree, or graduate degree
    -  Occupation: architecture & engineering, business & financial, etc.
    -  Annual income: less than \\$12500, \\$12500 - \\$24999, \\$25000 - \\$37499, etc.
    -  Number of times that he/she goes to a bar: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    -  Number of times that he/she buys takeaway food: 0, less than 1, 1 to 3, 4 to 8 or greater
    than 8
    -  Number of times that he/she goes to a coffee house: 0, less than 1, 1 to 3, 4 to 8 or
    greater than 8
    -  Number of times that he/she eats at a restaurant with average expense less than \\$20 per
    person: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    -  Number of times that he/she goes to a bar: 0, less than 1, 1 to 3, 4 to 8 or greater than 8

2. Contextual attributes
    - Driving destination: home, work, or no urgent destination
    - Location of user, coupon and destination: we provide a map to show the geographical
    location of the user, destination, and the venue, and we mark the distance between each
    two places with time of driving. The user can see whether the venue is in the same
    direction as the destination.
    - Weather: sunny, rainy, or snowy
    - Temperature: 30F, 55F, or 80F
    - Time: 10AM, 2PM, or 6PM
    - Passenger: alone, partner, kid(s), or friend(s)

3. Coupon attributes
    - time before it expires: 2 hours or one day



---

Attribute Information:

destination: No Urgent Place, Home, Work
passanger: Alone, Friend(s), Kid(s), Partner (who are the passengers in the car

weather: Sunny, Rainy, Snowy

temperature:55, 80, 30

time: 2PM, 10AM, 6PM, 7AM, 10PM

coupon: Restaurant(<$20), Coffee House, Carry out & Take away, Bar, Restaurant ($20-$50)

expiration: 1d, 2h (the coupon expires in 1 day or in 2 hours)
gender: Female, Male
age: 21, 46, 26, 31, 41, 50plus, 36, below21
maritalStatus: Unmarried partner, Single, Married partner, Divorced, Widowed
has_Children:1, 0

education: Some college - no degree, Bachelors degree, Associates degree, High
School Graduate, Graduate degree (Masters or Doctorate), Some High School

occupation: Unemployed, Architecture & Engineering, Student,
Education & Training & Library, Healthcare Support,
Healthcare Practitioners & Technical, Sales & Related, Management,
Arts Design Entertainment Sports & Media, Computer & Mathematical,
Life Physical Social Science, Personal Care & Service,
Community & Social Services, Office & Administrative Support,
Construction & Extraction, Legal, Retired,
Installation Maintenance & Repair, Transportation & Material Moving,
Business & Financial, Protective Service,
Food Preparation & Serving Related, Production Occupations,
Building & Grounds Cleaning & Maintenance, Farming Fishing & Forestry

income: $37500 - $49999, $62500 - $74999, $12500 - $24999, $75000 - $87499,
$50000 - $62499, $25000 - $37499, $100000 or More, $87500 - $99999, Less than $12500

Bar: never, less1, 1~3, gt8, nan4~8 (feature meaning: how many times do you go to a bar every month?)

CoffeeHouse: never, less1, 4~8, 1~3, gt8, nan (feature meaning: how many times do you go to a coffeehouse every month?)

CarryAway:n4~8, 1~3, gt8, less1, never (feature meaning: how many times do you get take-away food every month?)

RestaurantLessThan20: 4~8, 1~3, less1, gt8, never (feature meaning: how many times do you go to a restaurant with an average expense per person of less than $20 every month?)

Restaurant20To50: 1~3, less1, never, gt8, 4~8, nan (feature meaning: how many times do you go to a restaurant with average expense per person of $20 - $50 every month?)

toCoupon_GEQ15min:0,1 (feature meaning: driving distance to the restaurant/bar for using the coupon is greater than 15 minutes)

toCoupon_GEQ25min:0, 1 (feature meaning: driving distance to the restaurant/bar
for using the coupon is greater than 25 minutes)

direction_same:0, 1 (feature meaning: whether the restaurant/bar is in the same

direction as your current destination)

direction_opp:1, 0 (feature meaning: whether the restaurant/bar is in the same

direction as your current destination)

Y:1, 0 (whether the coupon is accepted)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

### Problems

Use the prompts below to get started with your data analysis.  

1. Read in the `coupons.csv` file.

In [ ]:
data = pd.read_csv('/content/coupons.csv')

In [ ]:
data.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

In [ ]:
data.transpose()

,0,1,2,3,4,5,6,7,8,9,...,12674,12675,12676,12677,12678,12679,12680,12681,12682,12683
destination,No Urgent Place,No Urgent Place,No Urgent Place,No Urgent Place,No Urgent Place,No Urgent Place,No Urgent Place,No Urgent Place,No Urgent Place,No Urgent Place,...,Home,Home,Home,Home,Home,Home,Work,Work,Work,Work
passanger,Alone,Friend(s),Friend(s),Friend(s),Friend(s),Friend(s),Friend(s),Kid(s),Kid(s),Kid(s),...,Alone,Alone,Alone,Partner,Partner,Partner,Alone,Alone,Alone,Alone
weather,Sunny,Sunny,Sunny,Sunny,Sunny,Sunny,Sunny,Sunny,Sunny,Sunny,...,Rainy,Snowy,Sunny,Sunny,Sunny,Rainy,Rainy,Snowy,Snowy,Sunny
temperature,55,80,80,80,80,80,55,80,80,80,...,55,30,80,30,30,55,55,30,30,80
time,2PM,10AM,10AM,2PM,2PM,6PM,2PM,10AM,10AM,10AM,...,10PM,10PM,6PM,6PM,10PM,6PM,7AM,7AM,7AM,7AM
coupon,Restaurant(<20),Coffee House,Carry out & Take away,Coffee House,Coffee House,Restaurant(<20),Carry out & Take away,Restaurant(<20),Carry out & Take away,Bar,...,Coffee House,Coffee House,Restaurant(20-50),Restaurant(<20),Restaurant(<20),Carry out & Take away,Carry out & Take away,Coffee House,Bar,Restaurant(20-50)
expiration,1d,2h,2h,2h,1d,2h,1d,2h,2h,1d,...,2h,2h,1d,1d,2h,1d,1d,1d,1d,2h
gender,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,...,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male
age,21,21,21,21,21,21,21,21,21,21,...,26,26,26,26,26,26,26,26,26,26
maritalStatus,Unmarried partner,Unmarried partner,Unmarried partner,Unmarried partner,Unmarried partner,Unmarried partner,Unmarried partner,Unmarried partner,Unmarried partner,Unmarried partner,...,Single,Single,Single,Single,Single,Single,Single,Single,Single,Single
has_children,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
education,Some college - no degree,Some college - no degree,Some college - no degree,Some college - no degree,Some college - no degree,Some college - no degree,Some college - no degree,Some college - no degree,Some college - no degree,Some college - no degree,...,Bachelors degree,Bachelors degree,Bachelors degree,Bachelors degree,Bachelors degree,Bachelors degree,Bachelors degree,Bachelors degree,Bachelors degree,Bachelors degree
occupation,Unemployed,Unemployed,Unemployed,Unemployed,Unemployed,Unemployed,Unemployed,Unemployed,Unemployed,Unemployed,...,Sales & Related,Sales & Related,Sales & Related,Sales & Related,Sales & Related,Sales & Related,Sales & Related,Sales & Related,Sales & Related,Sales & Related
income,$37500 - $49999,$37500 - $49999,$37500 - $49999,$37500 - $49999,$37500 - $49999,$37500 - $49999,$37500 - $49999,$37500 - $49999,$37500 - $49999,$37500 - $49999,...,$75000 - $87499,$75000 - $87499,$75000 - $87499,$75000 - $87499,$75000 - $87499,$75000 - $87499,$75000 - $87499,$75000 - $87499,$75000 - $87499,$75000 - $87499
car,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bar,never,never,never,never,never,never,never,never,never,never,...,never,never,never,never,never,never,never,never,never,never
CoffeeHouse,never,never,never,never,never,never,never,never,never,never,...,never,never,never,never,never,never,never,never,never,never
CarryAway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1~3,1~3,1~3,1~3,1~3,1~3,1~3,1~3,1~3,1~3
RestaurantLessThan20,4~8,4~8,4~8,4~8,4~8,4~8,4~8,4~8,4~8,4~8,...,4~8,4~8,4~8,4~8,4~8,4~8,4~8,4~8,4~8,4~8
Restaurant20To50,1~3,1~3,1~3,1~3,1~3,1~3,1~3,1~3,1~3,1~3,...,1~3,1~3,1~3,1~3,1~3,1~3,1~3,1~3,1~3,1~3
toCoupon_GEQ5min,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
toCoupon_GEQ15min,0,0,1,1,1,1,1,1,1,1,...,0,1,0,1,1,0,0,0,1,0
toCoupon_GEQ25min,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
direction_same,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,1,0,1,0,1
direction_opp,1,1,1,1,1,1,1,1,1,1,...,0,1,0,1,0,0,1,0,1,0
Y,1,0,1,0,0,1,1,1,1,0,...,0,0,1,1,0,1,1,0,0,0

2. Investigate the dataset for missing or problematic data.


These are the five steps to ensuring missing data are correctly identified and appropriately dealt with:
Ensure your data are coded correctly.

1. Identify missing values within each variable.
2. Look for patterns of missingness.
3. Check for associations between missing and observed data.
4. Decide how to handle missing data.

In [ ]:
data.isnull().values.any()

True

In [ ]:
data.isnull().sum()

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

3. Decide what to do about your missing data -- drop, replace, other...

4. What proportion of the total observations chose to accept the coupon?

5. Use a bar plot to visualize the `coupon` column.

6. Use a histogram to visualize the temperature column.

**Investigating the Bar Coupons**

Now, we will lead you through an exploration of just the bar related coupons.  

1. Create a new `DataFrame` that contains just the bar coupons.

2. What proportion of bar coupons were accepted?

3. Compare the acceptance rate between those who went to a bar 3 or fewer times a month to those who went more.

4. Compare the acceptance rate between drivers who go to a bar more than once a month and are over the age of 25 to the all others.  Is there a difference?

5. Use the same process to compare the acceptance rate between drivers who go to bars more than once a month and had passengers that were not a kid and had occupations other than farming, fishing, or forestry.

6. Compare the acceptance rates between those passengers who:

- go to bars more than once a month, had passengers that were not a kid, and were not widowed *OR*
- go to bars more than once a month and are under the age of 30 *OR*
- go to cheap restaurants more than 4 times a month and income is less than 50K.

7.  Based on these observations, what do you hypothesize about passengers who accepted the bar coupons?

### Independent Investigation

Using the bar coupon example as motivation, you are to explore one of the other coupon groups and try to determine the characteristics of passengers who accept the coupons.